* {
    margin: 0;
    padding: 0;
}

#image1 {
    display: block;
    position: relative;
}

.top-right {
    font-family: 'Bitter', serif;
    font-weight: 600;
    position: absolute;
    top: 40px;
    right: 16px;
}

a:link {
    color: white;
    text-decoration: none;
}

.landing {
    position: absolute;
    top: 0;
    left: 0px;
    background: linear-gradient(rgba(87,185,168,.8),rgba(13,45,98,.8));
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding-bottom: 100px;
}

h1 {
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 90px;
    text-align: center;
    color: white;
    margin-top: 70px;
}

h2 {
    font-family: 'Bitter', serif;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: white;
}

h3 {
    font-family: 'Bitter', serif;
    font-weight: 500;
    text-align: center;
    color: white;
    font-size: 50px;
}

h4 {
    font-family: 'Bitter', serif;
    font-weight: 500;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    font-size: 50px;
}

p {
    font-family: 'Bitter', serif;
    font-weight: 300;
    color: black;
    top: 10px;
    text-align: justify;
}

.body1 {
    background-color: #0D5C63;
}

.landingbutton {
    text-align: center;
    padding: 5%;
}

.speaker {
    border: #44A1A0 solid 10px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-style: outset;
    box-shadow: #78CDD7 0px 30px 90px;
    padding: 40px;
    margin: 5%;
    width: 85%;
    height: auto;
    background-color: white;
}

.avatar {
    width: 20%;
    float: right;
    text-align: center;
    display: inline-block;
    margin-right: 40px;
    margin-top: 40px;
    background-color: white;    
}

footer {
    background-color: #0D5C63;
    padding: 20px;
}


.headliners {
    background-color: #247B7B;
    padding: 20px;

}






.button-85 {
  padding: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


